 <!-- Trigger the modal with a button -->

  <!-- Modal -->
  <div class="modal fade" id="view-event-modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        
        <div class="modal-header" style="padding:10px 20px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4> Tennis </h4>
        </div>
        
        <div class="modal-body" style="padding:20px 20px;">
            <img src="/img/tennis.jpg"> <br>
            Location: RPI Tennis Courts<br>
            Time: Sunday 10am <br>
            Attending 7/10
            <div>
              Short Description
            </div>

            <form role="form">
              <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-ok"></span> Attend</button>
            </form>

            

        </div>
        <!--
        <div class="modal-footer">
        
        
            <form role="form">
            <div class="form-group" style="float:left;">
                <textarea name='comment' placeholder="Enter Comment" id='comment'></textarea><br />
            </div>
            
              <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Submit Comment</button>
            </form>
        

        </div>  
        -->
      </div>
      
    </div>
  </div> 


